html {
  scroll-behavior: smooth;
}

@font-face {
    font-family: 'lexend_deca';
    src: url('lexenddeca-regular-webfont.woff2') format('woff2'),
         url('lexenddeca-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'lexend_deca';
}

.navbar {
  background: white;
}

.navbar-nav {
  text-align: center;
}

.navbar-brand {
  font-size: 1.5vw;
}

.nav-link {
  font-size: 1.5vw;
}

.parts {
  /* height: 85vh; */
  margin-left: 10vw;
  margin-right: 10vw;
}

.row {
  margin-left: 5vw;
  margin-right: 5vw;
  padding: 0;
  padding-top: 4vh;
}

.container {
  padding: 0;
}

.bord {
  border: 1px dashed black;
}

.nav-item:hover {
  background-color: #E5E5E5;
}

/*
Header Layout
*/

.header {
  text-align: left;
}

.intro {
  padding-top: 32vh;
}

.intro h1 {
  font-size: 50px;
  color: black;
}

/*
Profile Layout
*/

.profile {
  text-align: left;
}

.bio {
  padding-top: 10vh;
}

.bio h1 {
  font-size: 55px;
  color: black;
  margin-bottom: 3vh;
}

.bio p {
  font-size: 27px;
  text-align: justify;
  text-indent: 5vw;
  color: black;
}

/*
Projects Layout
*/

.profile {
  text-align: justify;
}

.proj {
  padding-top: 10vh;
}

.proj h1 {
  font-size: 55px;
  color: black;
  margin-bottom: 3vh;
}

.proj-box {
  padding: 0;
  margin-top: 30px;
  margin-right: 15px;
  margin-left: 20px;
  width: 300px;
  height: 300px;
}

.proj-box-small {
  margin-bottom: 30px;
  margin-right: 15px;
  margin-left: 20px;
}

.project-box-1 {
  background: #CFF6B1;
}

.project-box-2 {
  background: #BEC5FF;
}

.project-box-3 {
  background: #FF9A9A;
}

.project-box-small {
  width: 300px;
  height: 120px;
  background: #EEEEEE;
  padding: 0;
}

.svg-icon {
  margin: auto;
  padding: 0;
  margin-top: 10vh;
}

.plane-icon {
  width: 161px;
  height: 143px;
}

.microchip-icon {
  width: 154px;
  height: 154px;
}

.desktop-icon {
  width: 172px;
  height: 153px;
}

.proj-title {
  font-size: 27px;
  color: black;
  padding-top: 1vw;
  padding-bottom: 0;
}

.proj-type {
  font-size: 20px;
  color: grey;
}

/*
Contact Layout
*/

.contact {
  text-align: justify;
}

.contact-me {
  padding-top: 10vh;
  padding-bottom: 20vh;
}

.contact-me h1 {
  font-size: 55px;
  color: black;
  margin-bottom: 3vh;
}

.profile-pic {
  width: 300px;
  height: auto;
  border-radius: 50%;
  border: 5px solid #B7C8D3;
}

.icon-row {
  padding-top: 8vh;
}

.icons {
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-left: 3vh;
  padding-right: 3vh;
}

.instagram-logo {
  filter: invert(52%) sepia(21%) saturate(7496%) hue-rotate(222deg) brightness(84%) contrast(81%);
}

.linkedin-logo {
  filter: invert(22%) sepia(27%) saturate(6303%) hue-rotate(181deg) brightness(99%) contrast(101%);
}

.twitter-logo {
  filter: invert(47%) sepia(86%) saturate(1495%) hue-rotate(176deg) brightness(100%) contrast(91%);
}

.quora-logo {
  filter: invert(24%) sepia(67%) saturate(2010%) hue-rotate(340deg) brightness(90%) contrast(96%);
}

.msg-title {
  margin-top: 10vh;
}

.msg-form {
  padding: 0;
  margin-top: 5vw;
}

.form-group label {
  font-size: 26px;
}

.btn-primary:hover {
  background-color: #459FFF;
}

/*
MEDIA
*/

@media (max-width: 980px) {
  .row {
    padding-left: 10vw;
    padding-right: 10vw;
  }

  .parts {
    height: 85vh;
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .intro {
    padding-top: 20vh;
  }

  .intro h1 {
    font-size: 35px;
  }

  .bio h1 {
    font-size: 30px;
  }

  .bio p {
    font-size: 18px;
  }

  .proj h1 {
    font-size: 30px;
  }

  .contact-me h1 {
    font-size: 30px;\
  }

  .navbar-brand {
    font-size: 20px;
  }

  .nav-link {
    font-size: 20px;
  }
}

/**
-- CIRCLES --
*/

.circ {
  z-index: -1;
  border-radius: 50%;
}

.circle-1 {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 1071px;
  top: -51px;
  background: #F2F2F2;
}

.circle-2 {
  position: absolute;
  width: 375px;
  height: 375px;
  left: 868px;
  top: -100px;
  background: #FFC4C4;
}

.circle-3 {
  position: absolute;
  width: 700px;
  height: 700px;
  left: -146px;
  top: 320px;
  background: #F8FFE6;
}
