{% extends "base.html" %}
{% load static %}

<!-- Head -->
{% block head-plus %}
<title>Farhan Oktavian | About | Story</title>
{% endblock head-plus %}

<!-- Navlinks Active -->
{% block nav-links %}
<li class="nav-item active">
  <a class="nav-link js-scroll-trigger" href="{%url 'about'%}">about</a>
</li>
<li class="nav-item">
  <a class="nav-link js-scroll-trigger" href="{%url 'projects'%}">projects</a>
</li>
<li class="nav-item">
  <a class="nav-link js-scroll-trigger" href="{%url 'contact'%}">contact</a>
</li>
{% endblock nav-links %}


<!-- Page Content -->
{% block content %}
<div class="profile parts container" id="about">
  <div class="bio">
    <div class="row">
      <h1>about</h1>
    </div>
    <div class="row">
      <p>My name is Muhammad Farhan Oktavian and I am in my second year (batch 2018) at the University of Indonesia with student number 1806173512. I am pursuing a degree in computer science and enrolled in the university double degree program.</p>
    </div>
    <div class="row">
      <p>
        I love to watch movies whenever I have some spare time, one of my favourite is The Green Mile. Moreover, I also like to play games and watch Youtube videos.</p>
    </div>
  </div>
</div>
{% endblock content %}
