{% extends 'base.html' %}
{% load static %}

<!-- Head -->
{% block head-plus %}
<title>Farhan Oktavian | Add Friend | Story</title>
{% endblock head-plus %}

<!-- Navlinks Active -->
{% block nav-links %}
<li class="nav-item">
  <a class="nav-link js-scroll-trigger" href="{%url 'about'%}">about</a>
</li>
<li class="nav-item">
  <a class="nav-link js-scroll-trigger" href="{%url 'projects'%}">projects</a>
</li>
<li class="nav-item">
  <a class="nav-link js-scroll-trigger" href="{%url 'contact'%}">contact</a>
</li>
<li class="nav-item active">
  <a class="nav-link js-scroll-trigger" href="{%url 'add_friend'%}">add friend</a>
</li>
<li class="nav-item">
  <a class="nav-link js-scroll-trigger" href="{%url 'friend_list'%}">friend list</a>
</li>
{% endblock nav-links %}

<!-- Page Content -->
{% block content %}
  <div class="friend-list parts container" id="friend-add">
    <div class="friends">
      <div class="row">
        <h1>friend list</h1>
      </div>

      <form method="POST" class="post-form">
        {% csrf_token %}
        {% for hidden_field in form.hidden_fields %}
          {{ hidden_field }}
        {% endfor %}
        {{ form.non_field_errors }}
        {{ form.source.errors }}
        {{ form.source }}
        <div class="row">
          <div class="form-group col-12">
            <label for="id_name">Name</label><br />
            {{ form.name.errors }}
            <input type="text" class="form-control" name="name" maxlength="200" id="id_name" required>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-12">
            <label for="id_year">Year</label><br />
            {{ form.year.errors }}
            {{ form.year }}
          </div>
        </div>
        <div class="row">
          <div class="form-group col-12">
            <label for="id_hobby">Hobby</label><br />
            {{ form.hobby.errors }}
            <input type="text" class="form-control" name="hobby" maxlength="100" maxlength="200" id="id_hobby" required>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-12">
            <label for="id_favourite_food">Favourite Food</label><br />
            {{ form.favourite_food.errors }}
            <input type="text" class="form-control" name="favourite_food" maxlength="75" maxlength="200" id="id_favourite_food" required>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-12">
            <label for="id_favourite_beverage">Favourite Beverage</label><br />
            {{ form.favourite_beverage.errors }}
            <input type="text" class="form-control" name="favourite_beverage" maxlength="75" id="id_favourite_beverage" required>
          </div>
        </div>
        <div class="row">
          <button type="submit" class="save btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
