<!DOCTYPE html>
{% load static %}
<!--- Muhammad Farhan Oktavian - 1806173512 -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="{% static "mystory/js/jquery.js" %}"></script>
    <script src="{% static "mystory/js/bootstrap.min.js" %}"></script>
    <script src="{% static "mystory/js/index.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "mystory/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "mystory/css/stylesheet.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "mystory/css/font-awesome.min.css" %}">
    {% block head-plus %}
    {% endblock head-plus %}
  </head>
  <body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="{%url 'index'%}">muhammad farhan oktavian</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            {% block nav-links %}
            {% endblock nav-links %}
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="https://drive.google.com/file/d/1vnuzq0uy06_lSukNFlHA5RiT7FBhKgzT/view?usp=sharing">resume</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Content goes here -->
    {% block content %}
    {% endblock content %}

    <div class="text-center">
      {% include "challenge-footer.html" %}
    </div>

  </body>
</html>
