{% extends "base.html" %}
{% load static %}

<!-- Head -->
{% block head-plus %}
<title>Farhan Oktavian | Contact | Story</title>
{% endblock head-plus %}

<!-- Navlinks Active -->
{% block nav-links %}
<li class="nav-item">
  <a class="nav-link js-scroll-trigger" href="{%url 'about'%}">about</a>
</li>
<li class="nav-item">
  <a class="nav-link js-scroll-trigger" href="{%url 'projects'%}">projects</a>
</li>
<li class="nav-item active">
  <a class="nav-link js-scroll-trigger" href="{%url 'contact'%}">contact</a>
</li>
<li class="nav-item">
  <a class="nav-link js-scroll-trigger" href="{%url 'add_friend'%}">add friend</a>
</li>
<li class="nav-item">
  <a class="nav-link js-scroll-trigger" href="{%url 'friend_list'%}">friend list</a>
</li>
{% endblock nav-links %}


<!-- Page Content -->
{% block content %}
<div class="contact parts container" id="contact">
  <div class="contact-me">
    <div class="row">
      <h1>contact</h1>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <img class="profile-pic" src="{% static "mystory/img/profile.png" %}" alt="Profile photo" />
      </div>
      <div class="col-lg-8">
        <div class="row icon-row">
          <div class="col-lg-3 icons text-center">
            <a href="https://www.instagram.com/nvtkonahraf" target="_blank"><img class="instagram-logo" src="{% static "mystory/img/instagram-brands.svg" %}" /></a>
          </div>
          <div class="col-lg-3 icons text-center">
            <a href="https://www.linkedin.com/in/farhanoktavian" target="_blank"><img class="linkedin-logo" src="{% static "mystory/img/linkedin-brands.svg" %}" /></a>
          </div>
          <div class="col-lg-3 icons text-center">
            <a href="https://www.twitter.com/farhanoktvn" target="_blank"><img class="twitter-logo" src="{% static "mystory/img/twitter-brands.svg" %}" /></a>
          </div>
          <div class="col-lg-3 icons text-center">
            <a href="https://www.quora.com/profile/M-Farhan-Oktavian" target="_blank"><img class="quora-logo" src="{% static "mystory/img/quora-brands.svg" %}" /></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row msg-title">
        <h1>leave a message</h1>
    </div>
    <div class="row">
      <div class="form-group col-lg-12">
        <label for="inputName">name</label>
        <input type="text" class="form-control" id="inputName" aria-describedby="nameHelp" placeholder="Tom Scott">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-12">
        <label for="inputEmail">email address</label>
        <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="tom@scott.com">
        <small id="emailHelp" class="form-text text-muted">Email will not be publicly shared.</small>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-12">
        <label for="formMessage">message</label>
        <textarea class="form-control" id="formMessage" rows="3" placeholder="I really love your site ..."></textarea>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-12">
        <!-- Modal trigger -->
        <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#modalCenter">submit</button>
        <!-- Modal -->
        <div class="modal fade" id="modalCenter" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Message saved</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Thank you for leaving a message!
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
