{% extends 'base.html' %}
{% load static %}

<!-- Head -->
{% block head-plus %}
<title>Farhan Oktavian | Friend List | Story</title>
{% endblock head-plus %}

<!-- Navlinks Active -->
{% block nav-links %}
<li class="nav-item">
  <a class="nav-link js-scroll-trigger" href="{%url 'about'%}">about</a>
</li>
<li class="nav-item">
  <a class="nav-link js-scroll-trigger" href="{%url 'projects'%}">projects</a>
</li>
<li class="nav-item">
  <a class="nav-link js-scroll-trigger" href="{%url 'contact'%}">contact</a>
</li>
<li class="nav-item">
  <a class="nav-link js-scroll-trigger" href="{%url 'add_friend'%}">add friend</a>
</li>
<li class="nav-item active">
  <a class="nav-link js-scroll-trigger" href="{%url 'friend_list'%}">friend list</a>
</li>
{% endblock nav-links %}

<!-- Page Content -->
{% block content %}
  <div class="friend-list parts container" id="friend-list">
    <div class="friends">
      <div class="row">
        <h1>friend list</h1>
      </div>
      {% for friend in friends %}
        {% if forloop.first %}<div class="row">{% endif %}
          <div class="col-4">
            <div class="card friend-box">
              <div class="card-body">
                <h5 class="card-title">{{ friend.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ friend.year }}</h6>
                <br />
                <p class="card-text text-muted"><i class="fa fa-futbol-o" aria-hidden="true"></i> Hobby</p>
                <p class="card-text">{{ friend.hobby }}</p>
                <br />
                <p class="card-text text-muted"><i class="fa fa-cutlery" aria-hidden="true"></i> Favourite Food</p>
                <p class="card-text">{{ friend.favourite_food }}</p>
                <br />
                <p class="card-text text-muted"><i class="fa fa-coffee" aria-hidden="true"></i> Favourite Beverage</p>
                <p class="card-text">{{ friend.favourite_beverage }}</p>
                <br />
                <br />
                <a href="{% url 'delete_friend' friend.id %}"><p class="card-text text-muted"><i class="fa fa-trash" aria-hidden="true"></i></p></a>
              </div>
            </div>
          </div>
        {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
        {% if forloop.last %}</div>{% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
