{% extends "base.html" %}

<!-- Head -->
{% block head-plus %}
<title>Farhan Oktavian | Story</title>
{% endblock head-plus %}

<!-- Navlinks Active -->
{% block nav-links %}
<li class="nav-item">
  <a class="nav-link js-scroll-trigger" href="{%url 'about'%}">about</a>
</li>
<li class="nav-item">
  <a class="nav-link js-scroll-trigger" href="{%url 'projects'%}">projects</a>
</li>
<li class="nav-item">
  <a class="nav-link js-scroll-trigger" href="{%url 'contact'%}">contact</a>
</li>
<li class="nav-item">
  <a class="nav-link js-scroll-trigger" href="{%url 'add_friend'%}">add friend</a>
</li>
<li class="nav-item">
  <a class="nav-link js-scroll-trigger" href="{%url 'friend_list'%}">friend list</a>
</li>
{% endblock nav-links %}

<!-- Page Content -->
{% block content %}
<div class="header parts container" id="head">
  <div class="intro">
    <div class="row">
      <h1>Hi there! I am a computer undergraduate student from Jakarta, Indonesia. Hopefully, you'll get to know me better through this website.</h1>
    </div>
  </div>
</div>
{% endblock content %}
