{% extends "base.html" %}
{% load static %}

<!-- Head -->
{% block head-plus %}
<title>Farhan Oktavian | Projects | Story</title>
{% endblock head-plus %}

<!-- Navlinks Active -->
{% block nav-links %}
<li class="nav-item">
  <a class="nav-link js-scroll-trigger" href="{%url 'about'%}">about</a>
</li>
<li class="nav-item active">
  <a class="nav-link js-scroll-trigger" href="{%url 'projects'%}">projects</a>
</li>
<li class="nav-item">
  <a class="nav-link js-scroll-trigger" href="{%url 'contact'%}">contact</a>
</li>
<li class="nav-item">
  <a class="nav-link js-scroll-trigger" href="{%url 'add_friend'%}">add friend</a>
</li>
<li class="nav-item">
  <a class="nav-link js-scroll-trigger" href="{%url 'friend_list'%}">friend list</a>
</li>
{% endblock nav-links %}

<!-- Page Content -->
{% block content %}
<div class="projects parts container" id="projects">
  <div class="proj">
    <div class="row">
      <h1>projects</h1>
    </div>
    <div class="row">
      <div class="col-lg-4 justify-content-center">
        <div class="project-box-1 proj-box text-center">
          <img src="{% static "mystory/img/plane-solid.svg" %}" class="plane-icon svg-icon"/>
        </div>
        <div class="project-box-small proj-box-small text-center">
          <p class="proj-title">C + Mission Planner</p>
          <p class="proj-type">Fixed Wing Plane</p>
        </div>
      </div>
      <div class="col-lg-4 justify-content-center">
        <div class="project-box-2 proj-box text-center">
          <img src="{% static "mystory/img/microchip-solid.svg" %}" class="microchip-icon svg-icon"/>
        </div>
        <div class="project-box-small proj-box-small text-center">
          <p class="proj-title">Arduino</p>
          <p class="proj-type">Talking Chair</p>
        </div>
      </div>
      <div class="col-lg-4 justify-content-center">
        <div class="project-box-3 proj-box text-center">
          <img src="{% static "mystory/img/desktop-solid.svg" %}" class="desktop-icon svg-icon"/>
        </div>
        <div class="project-box-small proj-box-small text-center">
          <p class="proj-title">HTML + CSS</p>
          <p class="proj-type">Portfolio Website</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
